[submodule "quad_platforms"]
	path = quad_platforms
	url = git@github.com:evannsmc/quad_platforms.git
[submodule "quad_trajectories"]
	path = quad_trajectories
	url = git@github.com:evannsmc/quad_trajectories.git
[submodule "newton_raphson_px4"]
	path = newton_raphson_px4
	url = git@github.com:evannsmc/nr_standard.git
[submodule "newton_raphson_enhanced_px4"]
	path = newton_raphson_enhanced_px4
	url = git@github.com:evannsmc/nr_enhanced_v2.git
[submodule "ROS2Logger"]
	path = ROS2Logger
	url = git@github.com:evannsmc/ROS2Logger.git
[submodule "nmpc_acados_px4"]
	path = nmpc_acados_px4
	url = git@github.com:evannsmc/nmpc_acados_euler_err.git
[submodule "nr_diff_flat_px4"]
	path = nr_diff_flat_px4
	url = git@github.com:evannsmc/nr_diff_flat.git
